﻿@{
    ViewBag.Title = "login";
}

<div class="dvParent">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <div>
                    <h4 class="text-dark-blue">Customer Login</h4>
                </div>
                <br />
                <div>
                    <h4>Existing Customer</h4>
                </div>
                <hr class="hr-gray" />
                <div class="dv-v-margin">
                    <h6>Welcome to marketdensity.com. Please sign in to continue.</h6>
                </div>
                <div class="col-sm-6">
                    <form action="/login-post" method="post">
                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                     <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input class="form-control" name="email" placeholder="Email ID *" required="required" type="email">
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-check"></i></span>
                        <input class="form-control" name="password" placeholder="Password *" required="required" type="password">
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <div class="col-sm-12">
                            <div>
                                <a href="#"><u>Forgot Password</u></a>
                            </div>
                            <div>
                                <br />
                                <label class="label label-danger">@ViewBag.msg</label>
                                <label class="label label-success">@TempData["msg"]</label>
                            </div>
                        </div>
                    </div>
                        </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <br />
                <br />
                <br />
                <div>
                    <h4>New Customer</h4>
                </div>
                <hr class="hr-gray" />
                <div class="dv-v-margin">
                    <h6>Welcome to marketdensity.com. Please sign up to continue.</h6>
                </div>
                <div>
                    <a href="@Url.Action("signup",new { returnUrl = ViewBag.returnUrl })" class="btn btn-primary">Create an Account</a>
                    <label>or</label>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary btn-primary" style="background-color: #0b51bb"><i class="fa fa-linkedin"></i>&nbsp;</button>
                        <button type="button" class="btn btn-secondary btn-primary">Connect with Linkedin</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("form").validate({
                messages: {
                    email: "*",
                    password: "*",
                }
            });
        });
    </script>
}