﻿@{
    ViewBag.Title = "Sign Up";
}

<div class="dvParent">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <div>
                    <h4 class="text-dark-blue">Create a new account</h4>
                </div>
                <br />
                <div>
                    <h4>New customer</h4>
                </div>
                <hr class="hr-gray" />
                <div class="dv-v-margin">
                    <h6>Welcome to marketdensity.com. Please sign up to continue.</h6>
                </div>
                <div class="col-sm-8">
                    <form action="/signup-post" method="post">
                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input class="form-control" name="firstName" placeholder="First Name *" required="required" type="text">
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input class="form-control" name="lastName" placeholder="Last Name *" required="required" type="text">
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" name="email" placeholder="Email ID *" required="required" type="email">
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-building"></i></span>
                            <input class="form-control" name="companyName" placeholder="Company Name *" required="required" type="text">
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input class="form-control" name="phoneNumber" placeholder="Phone Number *" required="required" type="text">
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-check "></i></span>
                            <input class="form-control" name="password" placeholder="Password *" required="required" type="password">
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-check "></i></span>
                            <input class="form-control" name="cpassword" placeholder="Confirm Password *" required="required" type="password">
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                                <br />
                                <label class="label label-success">@ViewBag.msg</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <br />
                <br />
                <br />
                <div>
                    <h4>Existing Customer</h4>
                </div>
                <hr class="hr-gray" />
                <div class="dv-v-margin">
                    <h6>Welcome to marketdensity.com. Please sign in to continue.</h6>
                </div>
                <div>
                    <table class="table" style="width: 70%">
                        <tr>
                            <td>
                                <a href="@Url.Action("login", "account")" class="btn btn-primary">Sign In</a></td>
                            <td>
                                <label>or</label></td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-secondary btn-primary" style="background-color: #0b51bb"><i class="fa fa-linkedin"></i>&nbsp;</button>
                                    <button type="button" class="btn btn-secondary btn-primary">Connect with Linkedin</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("form").validate({
                rules: {
                    cpassword: {equalTo:"input[name='password']"}
                },
                messages: {
                    firstName: "*",
                    lastName: "*",
                    email: "*",
                    companyName: "*",
                    phoneNumber: "*",
                    password: "*",
                    cpassword: "*"
                }
            });
        });
    </script>
}