﻿@{
    ViewBag.Title = "Change Password";
}

<div class="dvParent">
    <div class="row">
        <div class="col-sm-offset-4 col-sm-6">
            <div>
                <div>
                    <h4>Change Password</h4>
                </div>
                <hr class="hr-gray" />
                <div class="col-sm-6">
                    <form action="/changepassword-post" method="post">
                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-check"></i></span>
                            <input class="form-control" name="password" placeholder="New Password *" required="required" type="password">
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-check"></i></span>
                            <input class="form-control" name="rpassword" placeholder="Retype Password *" required="required" type="password">
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Change</button>
                                <button type="reset" class="btn btn-primary">Reset</button>
                            </div>
                            <div class="col-sm-12">
                                <div>
                                    <br />
                                    <label class="label label-danger">@ViewBag.msg</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("form").validate({
                rules: {
                    rpassword: { equalTo: "input[name='password']" }
                },
                messages: {
                    password: "*",
                    rpassword: { required: "*", equalTo: "Please enter same password again." },
                }
            });
        });
    </script>
}
