﻿@{
    ViewBag.Title = "Dashboard";
    var user = Session["user"] as MarketDensity_Web_Application.Models.User;
}

<div class="dvParent">
    <h2>Welcome @user.firstName @user.lastName to the Market Density</h2>
</div>
