﻿@model IEnumerable<MarketDensity_Web_Application.Models.OrderInfo>
@{
    ViewBag.Title = "Order Details";
    var order = ViewBag.ordermaster as MarketDensity_Web_Application.Models.OrderMaster;
}

<div class="dvParent">
    <div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <a href="@Url.Action("index", "home")">Home</a> >> <a href="@Url.Action("orderhistory", "user")">Order History</a> >> Order Details
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="section-body" style="padding: 0px 15px;">
                <div class="row dvOrderMasterDetails">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4">Order #<span class="pull-right">:</span></label>
                            <label class="col-sm-8">@order.order_id</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Date<span class="pull-right">:</span></label>
                            <label class="col-sm-8">@order.order_date.ToString("dd MMM yyyy hh:mm tt")</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">User Name<span class="pull-right">:</span></label>
                            <label class="col-sm-8">@order.user.firstName @order.user.lastName</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Total<span class="pull-right">:</span></label>
                            <label class="col-sm-8">$ @order.total</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Tax<span class="pull-right">:</span></label>
                            <label class="col-sm-8">$ @order.tax</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4">Invoice #<span class="pull-right">:</span></label>
                            <label class="col-sm-8">@order.invoice_number</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Payment Method<span class="pull-right">:</span></label>
                            <label class="col-sm-8">@order.payment_method</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Payment Id<span class="pull-right">:</span></label>
                            <label class="col-sm-8">@order.paymentId</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Status<span class="pull-right">:</span></label>
                            <label class="col-sm-8">@Html.Raw(order.success ? "<label class='label label-success'>Success</label>" : "<label class='label label-danger'>Failed</label>")</label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4">Sub Total<span class="pull-right">:</span></label>
                            <label class="col-sm-8">$ @order.sub_total</label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-hover table-bordered tblData">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Currency</th>
                                    <th>Quantity</th>
                                    <th>Report Id</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int count = 1;}
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@user.name</td>
                                        <td>@user.price</td>
                                        <td>@user.currency</td>
                                        <td>$ @user.quantity</td>
                                        <td>$ @user.sku</td>
                                    </tr>
                                    count++;
                                }
                                @if (count == 1)
                                {
                                    <tr>
                                        <td colspan="12" class="text-center">No Details available</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--end .section-body -->
        </div>
    </div>
</div>