﻿@model IEnumerable<Proof_Reading_Website_MVC.Models.User>
@{
    ViewData["Title"] = "Manageusers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Proof_Reading_Website_MVC.Models.User user = ViewBag.user as Proof_Reading_Website_MVC.Models.User;
    if (user == null)
    {
        user = new Proof_Reading_Website_MVC.Models.User();
    }
}
<!-- BEGIN 404 MESSAGE -->
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("dashboard","admin")">home</a></li>
            <li class="active">Manage Users</li>
        </ol>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="signUpWrapper">
                    <form class="form floating-label" action="@Url.Action("UpdateUser","admin")" accept-charset="utf-8" method="post">
                        <input type="hidden" name="id" value="@user.id" />
                        @if (TempData["msg"] != null)
                        {
                            <label class="label label-danger">@TempData["msg"]</label>
                        }
                        @if (ViewData["msg"] != null)
                        {
                            <label class="label label-success">@ViewData["msg"]</label>
                        }
                        <div class="form-group">
                            <input type="text" class="form-control" id="firstName" name="firstName" value="@user.firstName" required>
                            <label for="firstName">First Name*</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="middleName" name="middleName" value="@user.middleName" required>
                            <label for="middleName">Middle Name*</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="lastName" name="lastName" value="@user.lastName" required>
                            <label for="lastName">Last Name*</label>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" value="@user.email" @(user.id != 0 ? "disabled" : "") required>
                            <label for="email">Email Address*</label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="mno" name="mno" value="@user.mno" required>
                            <label for="username">Mobile Number*</label>
                        </div>
                        <div class="form-group">
                            <select name="role" id="role" class="form-control" data-value="@user.role" required>
                                <option value=""></option>
                                <option value="1">Client</option>
                                <option value="2">Resourse</option>
                                <option value="3">Team Leader</option>
                            </select>
                            <label for="username">Select Role*</label>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn btn-primary btn-raised btn-block" type="submit">@(user.id == 0 ? "Create User" : "Update User")</button>
                            </div>
                            @if (user.id != 0)
                            {
                                <div class="col-xs-6">

                                    <a href="@Url.Action("addnewuser", "admin", new { id = 0 })" class="btn btn-primary btn-raised btn-block">Cancel</a>

                                </div><!--end .col -->
                            }
                        </div><!--end .row -->
                    </form>
                </div>
            </div>
            <div class="col-sm-8">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Name</th>
                            <th>Email Id</th>
                            <th>Mobile Number</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int count = 1;}
                        @foreach (var u1 in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@u1.firstName @u1.middleName @u1.lastName</td>
                                <td>@u1.email</td>
                                <td>@u1.mno</td>
                                <td>@(((Proof_Reading_Website_MVC.Models.Role)u1.role).ToString())</td>
                                <td>
                                    <a href="@Url.Action("addnewuser","admin",new { id=u1.id })" class="btn btn-primary btn-xs">Edit</a>&nbsp;
                                </td>
                            </tr>
                            count++;
                        }
                        @if (count == 1)
                        {
                            <tr>
                                <td colspan="7" class="text-center">No users available</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--end .section-body -->
</section>
<style>
    .signUpWrapper {
        background: #fff;
        padding: 15px;
    }
</style>
@section scripts{
    <script>
        $(document).ready(function () {
            var val = $("#role").attr("data-value");
            $("select option[value=" + val + "]").prop("selected", true);
        });
    </script>
}