﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>:: Login</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->
    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css' />
    <link type="text/css" rel="stylesheet" href="~/admin_files/assets/css/theme-default/bootstrap.css?1422792965" />
    <link type="text/css" rel="stylesheet" href="~/admin_files/assets/css/theme-default/materialadmin.css?1425466319" />
    <link type="text/css" rel="stylesheet" href="~/admin_files/assets/css/theme-default/font-awesome.min.css?1422529194" />
    <link type="text/css" rel="stylesheet" href="~/admin_files/assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
    <!-- END STYLESHEETS -->
    <style>
        .card-body {
            border: solid thin gray;
            margin-top: 30px;
            padding: 14px 40px;
            padding-top: 0px;
            background: #fff;
        }
    </style>
</head>
<body class="menubar-hoverable header-fixed ">

    <!-- BEGIN LOGIN SECTION -->
    <section class="section-account">
        <div class="img-backdrop" style="background-image: url('content/images/proofreading.png')"></div>
        <div class="spacer" style="height:170px;"></div>
        <div class="card contain-xs style-transparent">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <br />
                        <span class="text-lg text-bold text-primary">Login</span>
                        <br /><br />
                        <form class="form floating-label" action="@Url.Action("index","admin")" accept-charset="utf-8" method="post">
                            <div class="row">
                                <div class="col-sm-12">
                                    @if (ViewData["msg"] != null)
                                    {
                                        <label class="label label-danger">@ViewData["msg"]</label>
                                    }
                                    @if (TempData["msg"] != null)
                                    {
                                        <label class="label label-success">@TempData["msg"]</label>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" name="username" required>
                                <label for="username">Username</label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" required>
                                <label for="password">Password</label>
                                <p class="help-block"><a href="#">Forgotten?</a></p>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <div class="checkbox checkbox-inline checkbox-styled">
                                        <label>
                                            <input type="checkbox"> <span>Remember me</span>
                                        </label>
                                    </div>
                                </div><!--end .col -->
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-primary btn-raised" type="submit">Login</button>
                                </div><!--end .col -->
                            </div><!--end .row -->

                        </form>
                    </div><!--end .col -->
                    <!--end .col -->
                </div><!--end .row -->
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
    <!-- END LOGIN SECTION -->
    <!-- BEGIN JAVASCRIPT -->
    <script src="~/admin_files/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="~/admin_files/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/admin_files/assets/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="~/admin_files/assets/js/libs/spin.js/spin.min.js"></script>
    <script src="~/admin_files/assets/js/libs/autosize/jquery.autosize.min.js"></script>
    <script src="~/admin_files/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
    <script src="~/admin_files/assets/js/core/source/App.js"></script>
    <script src="~/admin_files/assets/js/core/source/AppNavigation.js"></script>
    <script src="~/admin_files/assets/js/core/source/AppOffcanvas.js"></script>
    <script src="~/admin_files/assets/js/core/source/AppCard.js"></script>
    <script src="~/admin_files/assets/js/core/source/AppForm.js"></script>
    <script src="~/admin_files/assets/js/core/source/AppNavSearch.js"></script>
    <script src="~/admin_files/assets/js/core/source/AppVendor.js"></script>
    <script src="~/admin_files/assets/js/core/demo/Demo.js"></script>
    <script src="~/admin_files/assets/js/ExternalGoogleLogin.js"></script>
    <!-- END JAVASCRIPT -->
</body>
</html>
