﻿@model IEnumerable<MarketDensity_Web_Application.Models.OrderMaster>
@{
    ViewData["Title"] = "Order History";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- BEGIN 404 MESSAGE -->
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("dashboard","admin")">home</a></li>
            <li class="active">Orders</li>
        </ol>
    </div>
    <div class="section-body">
        <div class="row">

            <div class="col-sm-12">
                <table class="table table-striped table-hover table-bordered tblData">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Order #</th>
                            <th>Date</th>
                            <th>User Name</th>
                            <th>Total</th>
                            <th>Tax</th>
                            <th>Sub Total</th>
                            <th>Invoice Number</th>
                            <th>Payment Method</th>
                            <th>Payment Id</th>
                            <th>Payer Id</th>
                            <th>Status</th>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{int count = 1;}
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@user.order_id</td>
                                <td>@user.order_date.ToString("dd MMM yyyy hh:mm tt")</td>
                                <td>@user.user.firstName @user.user.lastName</td>
                                <td>$ @user.total</td>
                                <td>$ @user.tax</td>
                                <td>$ @user.sub_total</td>
                                <td>@user.invoice_number</td>
                                <td>@user.payment_method</td>
                                <td>@user.paymentId</td>
                                <td>@user.PayerID</td>
                                <td>@Html.Raw(user.success ? "<label class='label label-success'>Success</label>" : "<label class='label label-danger'>Failed</label>")</td>
                                <td><a href="@Url.Action("orderdetails","admin",new { id=user.id })" class="btn btn-primary btn-xs">View Details</a></td>
                            </tr>
                            count++;
                        }
                        @if (count == 1)
                        {
                            <tr>
                                <td colspan="12" class="text-center">No Orders are available</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--end .section-body -->
</section>
<style>
    .signUpWrapper {
        background: #fff;
        padding: 15px;
    }
</style>
@section scripts{
    <script>
        $(document).ready(function () {
            //SwitchMenu("Upload");
            $(".tblData").dataTable();
        });
    </script>
}