﻿@{
    ViewBag.Title = ":: Upload new reports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <h4>
            Upload New Reports
            <small>Control panel</small>
        </h4>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Upload New Reports</li>
        </ol>
    </section>
    <hr />
    <div class="dvParent">
        <section>
            <form action="@Url.Action("upload_reports", "admin")" enctype="multipart/form-data" method="post" class="frmUploadExcel">
                <br />  <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <input type="file" class="form-control" name="file" required/>
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" id="btnSubmit" class="btn btn-primary" value="Upload" />
                    </div>
                </div>
                <hr />
                <div class="row" style="overflow: auto">
                    <div class="com-sm-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>TOC</th>
                                    <th>List Of Tables</th>
                                    <th>List of Figures</th>
                                    <th>Publisher</th>
                                    <th>Publish Date</th>
                                    <th>No. Of Pages</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="number" name="title" value="1" required />
                                    </td>
                                    <td>
                                        <input type="number" name="description" value="2" required />
                                    </td>
                                    <td>
                                        <input type="number" name="toc" value="3" required />
                                    </td>
                                    <td>
                                        <input type="number" name="list_of_tables" value="4" required />
                                    </td>
                                    <td>
                                        <input type="number" name="list_of_figures" value="5" required />
                                    </td>
                                    <td>
                                        <input type="number" name="publisher" value="6" required />
                                    </td>

                                    <td>
                                        <input type="number" name="publish_date" value="7" required />
                                    </td>

                                    <td>
                                        <input type="number" name="no_of_pages" value="8" required />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Subcategory</th>
                                    <th>Price Single User</th>
                                    <th>Price Multi User</th>
                                    <th>Price Enterprise License</th>
                                    <th>Country</th>
                                    <th>Region</th>
                                    <th>Meta Keywords</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="number" name="category" value="9" required />
                                    </td>
                                    <td>
                                        <input type="number" name="sub_category" value="10" required />
                                    </td>
                                    <td>
                                        <input type="number" name="price_single_user" value="11" required />
                                    </td>
                                    <td>
                                        <input type="number" name="price_multi_user" value="12" required />
                                    </td>
                                    <td>
                                        <input type="number" name="price_enterprise_user" value="13" required />
                                    </td>
                                    <td>
                                        <input type="number" name="country" value="14" required />
                                    </td>
                                    <td>
                                        <input type="number" name="region" value="15" required />
                                    </td>
                                    <td>
                                        <input type="number" name="meta_keywords" value="16" required />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Meta Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="number" name="meta_description" value="17" required />
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<script>
    function SelectAll(_this) {
        var checked = $(_this).is(":checked");
        $(".tblData tr td:first-child input[type='checkbox']").each(function () {
            $(this).prop("checked", checked);
        });
    }

    $(document).ready(function () {
        $(".frmdeleteTOC").submit(function () {
            var count = $(".tblData tr td:first-child input[type='checkbox']:checked").length;
            if (count <= 0)
                alert("Please select at least one TOC to delete.");
            return count > 0
        });

        SwitchMenu("Upload");
        $(".tblData").dataTable();
        $(".frmUploadExcel").submit(function () {
            if ($("input[type='file']").val() == "") {
                alert("Please select excel file to upload");
                return false;
            }
            else if ($("input[type='file']").val().indexOf(".xlsx") == -1 || $("input[type='file']").val().indexOf(".xls") == -1) {
                alert("Please select excel file only.");
                return false;
            }

            $('#btnSubmit').addClass('disabled');
        });
    });
</script>
