﻿@model IEnumerable<MarketDensity_Web_Application.Models.Category>
@{
    ViewBag.Title = "Categories";
    var Pager = ViewBag.pager as MarketDensity_Web_Application.Models.Pager;
}
<style>
    .heading {
        padding: 0px 20px;
        margin-top: -10px;
    }
</style>
<div class="dvParent">
    <div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <a href="@Url.Action("index", "home")">Home</a> >> Categories
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-heading heading"><i class="fa fa-book color-blue"></i>&nbsp;Categories</h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                @foreach (var c in Model)
                {
                    <div class="col-sm-2 col-xs-6 text-center">
                        <div class="card">
                            <a href="@Url.Action("report_categories","home",new { cat=c.id })" class="aCategoryIcon">
                                <div>
                                    <img src="data:image/png;base64,@Convert.ToBase64String(c.icon, 0, c.icon.Length)" height="40" />
                                </div>
                                <h5>@c.name</h5>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
