﻿@model MarketDensity_Web_Application.Models.Contact
@{
    ViewBag.Title = "Contact Us";
}

<div class="dvParent">
    <div class="row">
        <div class="col-sm-6">
            @{ Html.RenderPartial("_ContactForm", Model); }
        </div>
        <div class="col-sm-6">
            @if (ViewBag.report != null)
            {
                var report = ViewBag.report as MarketDensity_Web_Application.Models.Report_Master;
                <div class="row report-card">
                    <div class="col-sm-2">
                        <img src="~/Content/images/report-image.jpg" height="85"/>
                    </div>
                    <div class="col-sm-10">
                        <h5>@report.title</h5>
                        <div>
                            <label>Report Code:</label><span>@report.code</span>
                            <br />
                            <label>No.of Pages :</label><span>@report.no_of_pages</span>
                            <br />
                            <label>Published Date :</label><span>@report.publish_date</span>
                            <br />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <img src="~/Content/images/contact-us-banner.jpg" style="width: 100%;margin-top: 25%;" />
            }
        </div>
    </div>
    <br />
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("form").validate({
                messages: {
                    name: "*",
                    email: "*",
                    companyName: "*",
                    phoneNumber: "*",
                    comments: "*"
                }
            });
        });
    </script>
}
