﻿@{
    ViewBag.Title = "faq";
}

<div class="container">
    <br />
    <br />
    <br />
    <br />
</div>
<b style="color: darkblue; font-size: larger">FAQ's</b>
<p>
    <span>

        <b>What is Market Density?</b>
        <br />
        <br />
        Market Density is your one stop market research and industry analysis reports' library providing business data and intelligence information on thousands of micro markets with global as well as regional coverage

    </span>
</p>
<p>
    <span>
        <b>How do I use Market Density ?</b>
        <br />
        <br />
        At Market Density you can search report by specific name using the Search field . Find and access description of a report of interest and product information including product name, price, relevance, publisher, and category.
    </span>
</p>
<p>
    <span>
        <b>How can I contact customer service?
        </b>
        <br />
        <br />
        Our customer service and research analyst and sales executives are available over call at +1 669 264 1656 or write us an email at <a href="support@marketdensity.com">support@marketdensity.com</a>
    </span>
</p>
<p>
    <span>
        <b>What types of research and reports do you have?
        </b>
        <br />
        <br />
        We offer comprehensive collection of market research reports, which have unique features of quantitative and qualitative research on markets, industries, and companies. Our research specialists have in-depth knowledge of the publishers and the various types of reports in their respective industries. They save your time and money by personally assisting you in finding the right report.
    </span>
</p>
<p>
    <span>
        <b>What is registration for?
        </b>
        <br />
        <br />
        Registration gives you access to report descriptions, tables of contents, and the Search Insights according to your needs.
    </span>
</p>
<p>
    <span>
        <b>What do I do if I forgot my password ?
        </b>
        <br />
        <br />
        Simply <a href="">reset your password</a> and it will be sent to the email address used as your username. You can also contact customer service at +1 669 264 1656 or write us an email at <a href="support@marketdensity.com">support@marketdensity.com</a> for assistance with any of your account information.
    </span>
</p>
<p>
    <span>
        <b>How do I place an order?
        </b>
        <br />
        <br />
        First choose an order form for the report you want to purchase, then select the option for payment from the given options - through credit card, purchase order or bank wire or else you can directly order from buy now option by selecting payment method.
    </span>
</p>
<p>
    <span>
        <b>How long does delivery take?
        </b>
        <br />
        <br />
        Items purchased for online delivery are normally delivered within 4-5 business days. Items that are emailed to you by the publisher or purchased selecting ground shipping will take time according to geographic location.
    </span>
</p>
