﻿@model IEnumerable<MarketDensity_Web_Application.Models.Publisher>
@{
    ViewBag.Title = "Publishers";
    var Pager = ViewBag.pager as MarketDensity_Web_Application.Models.Pager;
}
<style>
    .heading {
        padding: 0px 20px;
        margin-top: -10px;
    }
</style>
<div class="dvParent">
    <div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <a href="@Url.Action("index", "home")">Home</a> >> Publishers
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-heading heading"><i class="fa fa-book color-blue"></i>&nbsp;Publishers</h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="dvBoxBody">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-2 text-center">
                            <a href="@Url.Action("report_categories","home",new { publisher=item.id })" style="display:inline-block">
                                <div>
                                    <i class="fa fa-user" style="font-size:25px"></i>
                                </div>
                                <h5>@item.displayName</h5>
                            </a>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>
