﻿@model IEnumerable<MarketDensity_Web_Application.Models.Report_Master>
@{
    ViewBag.Title = "Report Categories";
    var Pager = ViewBag.pager as MarketDensity_Web_Application.Models.Pager;
}
<style>
    .heading {
        padding: 0px 20px;
        margin-top: -10px;
    }
</style>
<div class="dvParent">
    <br />
    <div class="row">
        <div class="col-sm-12">
            <a href="@Url.Action("index", "home")">Home</a> >> Categories
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="sub-heading heading">
                <i class="fa fa-book color-blue"></i>&nbsp;Reports
                @if (ViewBag.category != null)
                {
                    <span style="color:#000;font-size:12px" class="pull-right"><a href="@Url.Action("report_categories","home")"><i class="fa fa-close"></i></a>&nbsp;Now Shopping By <u>@ViewBag.category.name</u> Category</span>
                }

                @if (ViewBag.publisher != null)
                {
                    <span style="color:#000;font-size:12px" class="pull-right"><a href="@Url.Action("report_categories","home")"><i class="fa fa-close"></i></a>&nbsp;Now Shopping By <u>@ViewBag.publisher.displayName</u> Publisher</span>
                }

                @if (ViewBag.publisher == null && ViewBag.category == null)
                {
                    if (ViewBag.key == "")
                    {
                        <span style="color:#000;font-size:12px" class="pull-right">Now Shopping By <u><a href="@Url.Action("publisher", "home")">All Publishers</a></u> and <u><a href="@Url.Action("categories", "home")">All Categories</a></u></span>
                    }
                    else
                    {
                        <span style="color:#000;font-size:12px" class="pull-right"><a href="@Url.Action("report_categories","home")"><i class="fa fa-close"></i></a>&nbsp;Now Shopping By Search result for <u>@ViewBag.key</u></span>

                    }
                }
            </h4>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="dvBoxBody">
                @foreach (var item in Model)
                {
                    <div class="col-sm-12">
                        <h5 style="text-align: justify;"><a href="@Url.Action("report_details", "home", new { id = item.id, code = item.code })"><b>@item.title</b></a><br /><br /> @item.description.Substring(0, 500)...</h5>
                        <p><span class="fa fa-calendar color-blue"></span>&nbsp;@item.publish_date.Replace("12:00:00 AM", "") | <span class="fa fa-building color-blue"></span>&nbsp;@Html.Raw(item.category) <a href="@Url.Action("report_details","home",new { id = item.id,code=item.code })" class="btn btn-primary btn-xs pull-right">Read More</a></p>
                        <hr class="border-top-gray"/>
                    </div>
                }

                @if (!Model.Any())
                {
                    <h5 class="text-center">No Reports Available</h5>
                    <br /><hr />
                }
            </div>

            <!-- pager -->
            @if (Pager.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Pager.CurrentPage > 1)
                    {
                        <li>
                            <a href="@Url.Action("publisher", "home", new { pageIndex = 1 })">First</a>
                        </li>
                        <li>
                            <a href="@Url.Action("publisher", "home", new { pageIndex = Pager.CurrentPage - 1 })">Previous</a>
                        </li>
                    }

                    @for (var page = Pager.StartPage; page <= Pager.EndPage; page++)
                    {
                        <li class="@(page == Pager.CurrentPage ? "active" : "")">
                            <a href="@Url.Action("publisher", "home", new { pageIndex = page })">@page</a>
                        </li>
                    }

                    @if (Pager.CurrentPage < Pager.TotalPages)
                    {
                        <li>
                            <a href="@Url.Action("publisher", "home", new { pageIndex = Pager.CurrentPage + 1 })">Next</a>
                        </li>
                        <li>
                            <a href="@Url.Action("publisher", "home", new { pageIndex = Pager.TotalPages })">Last</a>
                        </li>
                    }
                </ul>
            }
            @*<label class="pull-right label label-primary" style="margin-top: 30px;font-size: 13px;">Total Reports: @Pager.TotalItems</label>*@
        </div>
    </div>
</div>
