﻿@model MarketDensity_Web_Application.Models.Report_Master
@{
    ViewBag.Title = Model.title;
    ViewBag.description = Model.meta_description;
    ViewBag.keywords = Model.meta_keywords;
    ViewBag.titleMeta = Model.title;
}
<script src="~/Scripts/jquery-1.12.3.js"></script>
<div>
    <div class="row margin-0px">
        <div class="col-sm-12">
            <br />
            <a href="@Url.Action("index", "home")">Home</a> >><a href="@Url.Action("report_categories", "home")">&nbsp;Report Categories</a> >>
            <h1 class="h1">@Html.Raw(Model.category)</h1>
            >>
            <h1 class="h1">@Html.Raw(Model.title)...</h1>

            <hr />
            <h5 class="text-justify bold">
                @Html.Raw(Model.title)
            </h5>
            <hr />
            <div>
                <span><i class="fa fa-book"></i>&nbsp;@Model.code</span>&nbsp;|
                <span><i class="fa fa-building"></i>&nbsp;@Html.Raw(Model.category)</span>&nbsp;|
                <span><i class="fa fa-calendar"></i>&nbsp;@Model.publish_date.Replace("12:00:00 AM", "")&nbsp;|</span>
                <span><i class="fa fa-file"></i>&nbsp;@Model.no_of_pages</span>
            </div>
            <hr />
            <div>
                <a href="@Url.Action("contact", "home", new { @ref = "Sample", reportid = Model.id })" class="btn btn-primary btn-xs"><span class="fa fa-book"></span>&nbsp;Sample &amp; Brouchure</a>&nbsp;
                <a href="@Url.Action("contact", "home", new { @ref = "Talk-to-Analyst", reportid = Model.id })" class="btn btn-primary btn-xs"><span class="fa fa-user"></span>&nbsp;Talk to Analyst</a>&nbsp;
                <a href="@Url.Action("contact", "home", new { @ref = "Customization", reportid = Model.id })" class="btn btn-primary btn-xs"><span class="fa fa-edit"></span>&nbsp;Request Customization</a>
                <a href="@Url.Action("contact", "home", new { @ref = "enquiry", reportid = Model.id })" class="btn btn-primary btn-xs"><span class="fa fa-user"></span>&nbsp;Make an enquiry</a>&nbsp;
                <a href="@Url.Action("contact", "home", new { @ref = "Discount", reportid = Model.id })" class="btn btn-primary btn-xs"><span class="fa fa-edit"></span>&nbsp;Discount</a>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-9">
                    <div class="border-gray">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a data-toggle="tab" href="#1" onclick="document.location.href='#Report_Highlights'">Report Description</a></li>
                            <li><a data-toggle="tab" href="#2" onclick="document.location.href='#Table_of_Content'">Table of Content</a></li>
                            <li><a data-toggle="tab" href="#3" onclick="document.location.href='#Tables_and_Figures'">Tables and Figures</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="1" class="tab-pane fade in active">
                                <p class="text-justify dvReportHighlights">
                                    @Html.Raw(Model.description.Replace("\n", "<br/>").Replace("[<<img ", "<img alt='TOC' src='/content/images/tocs/").Replace(">>]", "' width='100%'/>"))
                                </p>
                            </div>
                            <div id="2" class="tab-pane fade" style="overflow: auto; font-size: 13px">
                                @{
                                    var str = Model.toc.Replace("\n", "<br/>");
                                    str = str.Replace(" ", "&nbsp;&nbsp;");

                                }
                                @Html.Raw(str)
                            </div>
                            <div id="3" class="tab-pane fade">
                                <h5>List Of Tables</h5>
                                @Html.Raw(Model.list_of_tables.Replace("\n", "<br/>"))
                                <hr />
                                <h5>List Of Figures</h5>
                                @Html.Raw(Model.list_of_figures.Replace("\n", "<br/>"))
                            </div>
                            <div id="4" class="tab-pane fade">
                                @{Html.RenderPartial("_ContactForm", new MarketDensity_Web_Application.Models.Contact());}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="buynow-heading padding-10px">
                        <h5 class="sub-heading" style="color: #ffffff;background: #68868E;">Purchase options</h5>
                        <div>
                            <form id="frmBuyReport" action="@Url.Action("payment","payment")" method="post">
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <table class="table">
                                                <tbody>
                                                    @if (Model.price_online_only != 0)
                                                    {
                                                        <tr>
                                                            <th><input type="radio" checked name="price" value="@MarketDensity_Web_Application.Models.LicenseType.online_only" /></th>
                                                            <th>Online Only</th>
                                                            <th>$ @Model.price_online_only.00</th>
                                                        </tr>
                                                    }
                                                    @if (Model.price_single_user != 0)
                                                    {
                                                        <tr>
                                                            <th><input type="radio" name="price" value="@MarketDensity_Web_Application.Models.LicenseType.single" /></th>
                                                            <th>Single User </th>
                                                            <th>$ @Model.price_single_user.00</th>
                                                        </tr>
                                                    }
                                                    @if (Model.price_multi_user != 0)
                                                    {
                                                        <tr>
                                                            <th><input type="radio" name="price" value="@MarketDensity_Web_Application.Models.LicenseType.multi" /></th>
                                                            <th>Multi User</th>
                                                            <th>$ @Model.price_multi_user.00</th>
                                                        </tr>
                                                    }
                                                    @if (Model.price_enterprise_user != 0)
                                                    {
                                                        <tr>
                                                            <th><input type="radio" name="price" value="@MarketDensity_Web_Application.Models.LicenseType.enterprise" /></th>
                                                            <th>Enterprise User</th>
                                                            <th>$ @Model.price_enterprise_user.00</th>
                                                        </tr>
                                                    }
                                                    @if (Model.price_data_pack != 0)
                                                    {
                                                        <tr>
                                                            <th><input type="radio" name="price" value="@MarketDensity_Web_Application.Models.LicenseType.data_pack" /></th>
                                                            <th>Data Pack</th>
                                                            <th>$ @Model.price_data_pack.00</th>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="hidden" id="rptCode" name="item_name" value="@Model.code">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <hr />
                        <div class="text-center">
                            <a href="javascript:void(0)" class="btn btn-primary" onclick="AddToCart(this)">ADD TO CART</a>
                            <a href="#BuyNow" class="btn btn-success" style="padding: 6px 25px;" onclick="AddToCart(this)">BUY NOW</a>
                            <br /> <hr />
                        </div>
                        <div class="text-center">
                            <img src="~/Content/images/payment_method.png" width="100%"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<!-- Modal -->
<div id="paymentModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                @{Html.RenderPartial("_ContactForm", new MarketDensity_Web_Application.Models.Contact());}
            </div>
            <div class="modal-footer" style="clear:both">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-form.js"></script>
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
        function ShowPaymentModal() {
            $("#paymentModal").modal("show");
            $("#paymentModal .frmContactus").validate({
                rules: {
                    "CaptchaInputText": "required"
                }
            });
            // $("#frmBuyReport").submit();
        }

        function AddToCart(_btn) {
            var type = $("input[name='price']:checked").val();
            if (type == undefined || type == "") {
                BSAlert("Warning!", "Please select purchase option", 'w');
                return false;
            }
            $(_btn).button('loading');
            $.ajax({
                url: "/home/addToCart",
                data: { reportCode: $("#rptCode").val(), lType: type },
                success: function (data) {
                    $(_btn).button('reset');
                    var isBuyNow = $(_btn).hasClass("btn-success");
                    if (data == -1)
                        window.location = "/account/login?returnUrl=" + window.location.pathname;
                    else if (data == -2 ) {
                        BSAlert("Warning!", "This report is already available in the cart <br/><a href='/payment/checkout'><u>Click here to checkout</u></a>", "w");
                    }
                    else {
                        if (isBuyNow)
                            window.location = "/payment/checkout";
                        else
                            $("#spnCartCount").html(data);
                    }
                }
            });
        }

        function UpdateURLSection(section) {
            window.location.append(section);
        }
        function SubmitContactDetailsAndMakePayment() {
            if ($("#paymentModal .frmContactus").valid()) {
                $(".dvLoading").removeClass("hide");
                $("#paymentModal .frmContactus").ajaxSubmit({
                    url: "/home/SendEmail",
                    success: function (data) {
                        if (data == "False") {
                            $("#paymentModal .label-danger").text("Error: captcha is not valid.");
                            $(".dvLoading").addClass("hide");
                        }
                        else {
                            $("#frmBuyReport").submit();
                        }
                    }
                });
            }
        }
    </script>
}
