﻿@model MarketDensity_Web_Application.Models.Contact
<div>
    <div class="row" style="padding-left: 10px;">
        @if (!string.IsNullOrEmpty(Model.request_category))
        {
            <div class="col-sm-2">

                <a style="margin: 10px 0px;" href="javascript:window.history.back()" class="btn btn-primary btn-xs"><i class="fa fa-backward"></i>&nbsp;Back</a>
                
            </div>
        }
            <div class="col-sm-10">
                <h4 class="text-dark-blue">@(!string.IsNullOrEmpty(Model.request_category) ? "Feel free to contact us for " + Model.request_category : "Contact us")</h4>
            </div>
        </div>
    <br />
    <div>
        <h4>Write Us</h4>
    </div>
    <hr class="hr-gray" />
    <div class="dv-v-margin">
        <h6>Jot us a note and we’ll get back to you as quickly as possible</h6>
    </div>
    <div class="col-sm-8">
        <form action="/contact-post" method="post">
            <input type="hidden" name="reportCode" value="@Model.reportCode" />
            <input type="hidden" name="request_category" value="@Model.request_category" />
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input class="form-control" name="name" placeholder="Full Name *" required="required" type="text">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input class="form-control" name="email" placeholder="Email ID *" required="required" type="email">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                <input class="form-control" name="companyName" placeholder="Company Name *" required="required" type="text">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input class="form-control" name="phoneNumber" placeholder="Phone Number *" required="required" type="text">
            </div>
            <br />
            <input type="hidden" name="request_category" value="1" />
            <input type="hidden" name="reportId" value="0" />
            <textarea required="required" class="form-control" name="comments" placeholder="Comments"></textarea>
            <br />
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    <br />
                    <label class="label label-success">@TempData["msg"]</label>
                </div>
            </div>
        </form>
    </div>
</div>