﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <!--Start of Tawk.to Script-->
    <script src="~/Scripts/live_chatting.js"></script>
</head>
<body>
    <div class="container">
        <div class="row dvBackgroundBlue">
            <div class="col-sm-3">
                <img src="~/Content/images/Market-density-Final-logo.png" class="md-logo" />
            </div>
            <div class="col-sm-8">
                <ul class="pull-right">
                    <li><i class="fa fa-envelope"></i>&nbsp;support@marketdensity.com</li>
                    <li>|</li>
                    <li><i class="fa fa-phone"></i>&nbsp;+1 669 264 1656</li>
                </ul>
            </div>
            <div class="col-sm-1">
                <ul>
                    <li>
                        <a href="@Url.Action("checkout","payment")">
                            <span class="badge" id="spnCartCount">@Session["shoppingCartCount"]</span>
                            <img src="~/Content/images/shopping-cart.PNG" height="35" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @*<a class="navbar-brand" href="#">WebSiteName</a>*@
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-main-menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="@Url.Action("categories", "home")">Report Categories</a></li>
                            <li><a href="/report-categories">Press Release</a></li>
                            <li><a href="@Url.Action("publisher", "home")">Publisher</a></li>
                            <li><a href="@Url.Action("contact", "home")">Contact Us</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @if (Session["user"] == null)
                            {
                                <li><a href="@Url.Action("login", "account")"><i class="fa fa-sign-in hidden-xs"></i>&nbsp;Login</a></li>
                                <li><a href="@Url.Action("signup", "account")"><i class="fa fa-user hidden-xs"></i>&nbsp;Register</a></li>
                            }
                            else
                            {
                                var user = Session["user"] as MarketDensity_Web_Application.Models.User;
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Welcome @user.firstName @user.lastName
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-user hidden-xs"></i>&nbsp;&nbsp;&nbsp;My Profile</a></li>
                                        <li><a href="@Url.Action("orderhistory","user")"><i class="fa fa-shopping-cart hidden-xs"></i>&nbsp;&nbsp;&nbsp;My Orders</a></li>
                                        <li><a href="@Url.Action("changepassword","user")"><i class="fa fa-gear hidden-xs"></i>&nbsp;&nbsp;&nbsp;Change password</a></li>
                                        <li><a href="@Url.Action("signout", "account")"><i class="fa fa-sign-out hidden-xs"></i>&nbsp;&nbsp;&nbsp;Logout</a></li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        @RenderBody()

        <footer>
            <div class="row margin-0px">
                <div class="col-sm-4">
                    <h4><i class="fa fa-address-book"></i>&nbsp;Address</h4>
                    <p>
                        4340 Stevens Creek Blvd,
                        <br />
                        Suite # 172,
                        <br />
                        San Jose, CA 95129
                        <br />
                        <i class="fa fa-phone"></i>&nbsp; +1 669 264 1656<br />
                        <i class="fa fa-envelope"></i>&nbsp; support@marketdensity.com
                    </p>
                </div>
                <div class="col-sm-4">
                    <h4><i class="fa fa-link"></i>&nbsp;Quick Links</h4>
                    <ul>
                        <li>About us</li>
                        <li>Contact us</li>
                        <li><a href="@Url.Action("index", "faqs")">FAQ's</a></li>
                        <li>Terms of Use</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4><i class="fa fa-bars"></i>&nbsp;More</h4>
                    <ul>
                        <li>Press Release</li>
                        <li>Sitemap</li>
                        <li>Press Release</li>
                        <li>Sitemap</li>
                        <li>Press Release</li>
                    </ul>
                </div>
            </div>
            <div class="row margin-0px">
                <div class="col-sm-4">
                    <div class="social-area pull-left">
                        <div class="social-share-list">
                            <ul>
                                <li><a target="_blank" href="https://www.facebook.com/hamariapnipartymaharashtra/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a target="_blank" href="hamriapniparti@gmail.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a target="_blank" href="https://www.youtube.com/channel/UCVvu2PgHjSqJX_DcNBjitMQ"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>

                                <li>
                                    <a target="_blank" href="/home/downloadApk">
                                        <i class="fa fa-android" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <img src="~/Content/images/payment_method.png" width="70%" />
                </div>
                <div class="col-sm-4">
                    <script type="text/javascript" language="JavaScript" xml="space">
                        // <![CDATA[
                        //
                        //
                        //
                        TrustLogo("https://www.marketdensity.com/comodo_secure_seal_113x59_transp.png", "CL1", "none");
                        //
                        //
                        //
                        // ]]></script>
                    <a href="javascript:if(window.open('https://secure.comodo.com/ttb_searcher/trustlogo?v_querytype=W&amp;v_shortname=CL1&amp;v_search=https://www.marketdensity.com/&amp;x=6&amp;y=5','tl_wnd_credentials'+(new Date()).getTime(),'toolbar=0,scrollbars=1,location=1,status=1,menubar=1,resizable=1,width=374,height=660,left=60,top=120')){};tLlB(tLTB);" onmouseover="tLeB(event,'https://secure.comodo.com/ttb_searcher/trustlogo?v_querytype=C&amp;v_shortname=CL1&amp;v_search=https://www.marketdensity.com/&amp;x=6&amp;y=5','tl_popupCL1')" onmousemove="tLXB(event)" onmouseout="tLTC('tl_popupCL1')" ondragstart="return false;">
                        <img src="https://www.marketdensity.com/comodo_secure_seal_113x59_transp.png" border="0" onmousedown="return tLKB(event,'https://secure.comodo.com/ttb_searcher/trustlogo?v_querytype=W&amp;v_shortname=CL1&amp;v_search=https://www.marketdensity.com/&amp;x=6&amp;y=5');" oncontextmenu="return tLLB(event);">
                    </a><!---->
                    <div id="tl_popupCL1" name="tl_popupCL1" style="position: absolute; z-index: 0; visibility: hidden; background-color: transparent; overflow: hidden; left: 60px; top: -176px; width: 356px; height: 259px; border-width: 0px;" onmouseover="tLoB('tl_popupCL1')" onmousemove="tLpC('tl_popupCL1')" onmouseout="tLpB('tl_popupCL1')"></div>
                </div>
            </div>
        </footer>

        <!-- Modal -->
        <div id="BSPopup" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content" style="margin-top: 70%;">
                    <div class="modal-header text-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-danger"></h4>
                    </div>
                    <div class="modal-body text-center">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
