﻿.dvBackgroundBlue {
    background: #043642 !important;
    color: #fff;
    padding: 10px;
    min-height: 80px;
}

.h1 {
    font-size: 14px;
    display: inline;
}

.tab-content {
    padding: 20px;
    border: solid thin #e2e2e2;
    margin-top: -1px;
}

.dvBackgroundBlue .col-sm-8 {
    padding-top: 20px;
}

.dvBackgroundBlue .col-sm-1 {
    border-left: solid 1.2px;
}

    .dvBackgroundBlue .col-sm-1 ul {
        padding-top: 5px;
    }

        .dvBackgroundBlue .col-sm-1 ul img {
            margin-left: -20px;
        }

.dvBackgroundBlue ul {
    list-style: none;
}

    .dvBackgroundBlue ul > li {
        display: inline;
        margin: 0px 5px;
    }

.navbar-default .navbar-nav > li > a {
    color: #fffdfd;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar {
    background-color: #68868E !important;
    border-radius: 0px;
    margin-bottom: 0px;
}

.md-logo {
    height: 95px;
    position: absolute;
    top: -15px;
}

.border-top-gray {
    border-top: 1px solid #b5b3b3 !important;
}

.report-card {
    border: solid thin gray;
    margin-top: 25%;
    box-shadow: 0px 2px 7px 0px grey;
    width: 90%;
    margin-left: 5%;
}

.spnprice {
    color: green;
    font-size: 25px;
}

.spnpriseplaceholder {
    font-size: 10px;
    display: block;
    font-weight: bold;
}

.btn-success {
    color: #fff;
    background-color: #A2B639 !important;
    border-color: #708600 !important;
}

    .btn-success:hover {
        background-color: #708600 !important;
    }

.badge {
    position: absolute;
    top: 0px;
    background: #de0000;
    padding: 3px 5px;
}

.navbar-default {
    border: none;
}

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: #efefef;
        background: #043642;
    }

.jumbotron {
    border-radius: 0px !important;
    background: #fff;
    /*border: solid thin #e8e8e8;*/
    padding: 30px 0px 0px 0px !important;
    margin-bottom: 0px;
}

.container {
    box-shadow: 0px 0px 13px -1px grey;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.icon-category {
    font-size: 40px !important;
}

.card {
    padding: 10px;
    border: solid thin #eae9e9;
}

.margin-0px {
    margin: 0px;
    padding: 0px 15px;
}

    .margin-0px .col-sm-12 {
        margin: 0px;
        padding: 0px;
    }

    .margin-0px .col-sm-2 {
        padding: 0px !important;
        margin: 0px;
    }

.aCategoryIcon i {
    transition: transform .2s;
}

.aCategoryIcon:hover i {
    transform: scale(1.2);
}

.heading {
    color: #F26450;
}

#dvLatestReport .panel-footer {
    background-color: #9AD5DB;
}

#dvLatestReport .panel-body {
    min-height: 180px;
    background: #C3E4DD;
}

.border-thin-gray {
    border: solid thin #eaeaea;
}

footer {
    background: #043642;
    color: #fff;
    margin: 0px -15px;
}

    footer h4 {
        width: 65%;
        border-bottom: solid thin;
        padding-bottom: 10px;
    }

.social-share-list, .multi-language {
    display: inline-block;
    vertical-align: top;
}

.social-area {
    margin: 14px 0;
}

.social-share-list ul {
    list-style: none;
    padding: 0px;
}

    .social-share-list ul li a {
        display: table;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
    }

        .social-share-list ul li a i {
            display: table-cell;
            background: #0bbb56;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            vertical-align: middle;
            font-size: 21px;
        }

    .social-share-list ul li {
        display: inline-block;
        margin: 0px 5px;
    }

.fa-twitter {
    background: #4dc6eb !important;
}

.fa-youtube-play {
    background: #bb0b0b !important;
}

.fa-facebook, .fa-linkedin {
    background: #0b51bb !important;
}

footer .col-sm-4 ul {
    padding-left: 20px;
}

.clear {
    clear: both;
}

.ul-horizontal {
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
}

    .ul-horizontal li {
        display: inline-block;
        margin: 0px 5px;
    }

.dvParent {
    min-height: 70vh;
    margin: 0px -15px;
    padding: 0px 25px;
}

.dvResearchBanner {
    background: url('../content/images/research-banner.jpg') no-repeat;
    background-size: 100% 100%;
}

.hr-gray {
    border-top: 1px solid #ccc;
}

.dv-v-margin {
    margin: 23px 5px;
}

.text-dark-blue {
    color: #45459c;
}

label.error {
    color: red;
    position: absolute;
    margin: 7px 6px;
    width: 100%;
}

input.error, textarea.error {
    border: solid thin red !important;
}

.buynow-heading {
    border: solid thin rgb(173, 173, 173);
    padding: 5px;
}

.sub-heading {
    padding: 14px;
    margin-top: 0px;
    margin: -5px -5px;
    margin-bottom: 10px;
}

.nav-justified .active {
    box-shadow: 0px -4px 9px -3px grey;
}

.nav-justified ~ .tab-content {
    box-shadow: 0px 0px 9px -2px grey;
}

.nav-tabs.nav-justified > li > a {
    color: green;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    color: #337ab7;
}

.dvOrderSummary {
    border: solid thin gray;
    box-shadow: 0px 2px 7px 0px grey;
    padding: 10px;
    margin-top: 4px;
    margin-left: -20px;
}
